<div *ngIf="producto" class="row">
    <div *ngIf="producto.imagen" class="col-lg-3">
        <img class="img_product" src="http://localhost:8082/primer-webapp-backend/uploads/{{producto.imagen}}">
    </div>
    <div *ngIf="!producto.imagen" class="col-lg-3">
        <div class="img_not"></div>
    </div>
    <div class="col-lg-9">
        <h4>Detalles del producto: <strong>{{producto.nombre}}</strong></h4>
        <p><strong>$ {{producto.precio}}</strong></p>
        <p>{{producto.descripcion}}</p>
    </div>
</div>
<div *ngIf="!producto">
    <h3>Cargando producto...</h3>
</div>
