<h2>{{titulo}}</h2>
<hr>
<div *ngIf="!productos">
    Cargando productos...
</div>
<div *ngIf="productos">
    <div class="row product_section">
        <div class="card col-md-4" *ngFor="let producto of productos">
            <div *ngIf="producto.imagen">
                <img class="card-img-top img_product" src="http://localhost:8082/primer-webapp-backend/uploads/{{producto.imagen}}" alt="Card image cap">
            </div>
            <div *ngIf="!producto.imagen">
                <div class="img_not"></div>
            </div>
            <div class="card-body">
                <h5 class="card-title"><strong>{{producto.nombre}}</strong></h5>
                <p class="card-text">$ {{producto.precio}}</p>
                <div *ngIf="confirm != producto.id" class="product_btn">
                    <a [routerLink]="['/producto-detail',producto.id]" class="btn btn-primary">Ver</a>
                    <a [routerLink]="['/producto-edit',producto.id]" class="btn btn-primary">Editar</a>
                    <a (click)="confirmDelete(producto.id)" class="text-white btn btn-danger">Eliminar</a>
                    </div>
                <div *ngIf="confirm == producto.id" class="product_btn">
                    <a (click)="deleteProducto(producto.id)" class="text-white btn btn-danger">Confirmar</a>
                    <a (click)="cancelDelete()" class="text-white btn btn-primary">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>